<p>Table is just a mapping of objects to table rows with <code>ngFor</code></p>


<input type="text"  [(ngModel)]="firstname"  (input)="Search()" />
{{firstname}}
<table class="table table-striped">
  <thead>

  <tr>
    <th scope="col">#</th>
    <th scope="col">Country</th>
    <th scope="col">Area</th>
    <th scope="col">Population</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td >
      <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + product.flag" class="mr-2" style="width: 20px">
      {{ product.firstname }}
    </td>
    <td>{{ product.area | number }}</td>
    <td>{{ product.population | number }}</td>
    <button (click)="editTable(i)">Edit</button>
    <button (click)="deleteMsg(i)">Delate</button>
  </tr>



  <tr *ngIf="!isCollapsed">
    <td><input disabled type="hidden"></td>
    <td><input type="text" #input [value]="value" ></td>
    <td><input type="text" #input1 [value]="value1" ></td>
    <td><input type="text" #input2 [value]="value2" ></td>

    <td ng-click="editUser(user)">
      <span ng-hide="user.editMode">{{user.firstName}}</span>
      <input type="text" name="firstName" ng-show="user.editMode" class="form-control" ng-model="user.firstName" placeholder="First Name" required="" />
    </td>

    <button (click)="clickAdd(input.value,input1.value, input2.value)">Add</button>
  </tr>
  <button type="button" class="btn btn-primary btn-block" *ngIf="isCollapsed"  (click)="toggleCollapse()">Create To Do List</button>
  <button type="button" class="btn btn-primary btn-block" *ngIf="!isCollapsed"  (click)="toggleCollapse()">Cancle To Do List</button>

  <tr *ngFor="let value of val; index as i">
    <td></td>
    <td>{{this.val[i]}}</td>

    <button (click)="deleteAdd(i)">Delate</button>
  </tr>


  </tbody>
</table>






