<p>Table is just a mapping of objects to table rows with <code>ngFor</code></p>


<input type="text"  [(ngModel)]="firstname"  (input)="Search()" />
{{firstname}}
<table class="table table-striped">
  <thead>

  <tr>
    <th scope="col">#</th>
    <th scope="col">Country</th>
    <th scope="col">Area</th>
    <th scope="col">Population</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td >
      <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + product.flag" class="mr-2" style="width: 20px">
      <input [disabled]="inputDisabled"  type="text" value="{{ product.firstname }}" />
    </td>
    <td><input  [disabled]="inputDisabled"  value=" {{ product.area | number }} "/></td>
    <td> <input [disabled]="inputDisabled"  value=" {{ product.population | number }}" /></td>
    <button *ngIf="inputDisabled" (click)="inputDisabled = false">Edit</button>
    <button *ngIf="!inputDisabled" (click)="inputDisabled = true">Save</button>
    <button (click)="deleteMsg(i)">Delate</button>
  </tr>



  <tr *ngIf="!isCollapsed">
    <td><input disabled type="hidden"></td>
    <td><input type="text" [(ngModel)]="newcountry.firstname"></td>
    <td><input type="text" [(ngModel)]="newcountry.area"></td>
    <td><input type="text" [(ngModel)]="newcountry.population" ></td>

<!--    <td ng-click="editUser(user)">-->
<!--      <span ng-hide="user.editMode"></span>-->
<!--      <input type="text" name="firstName" ng-show="user.editMode" class="form-control" ng-model="user.firstName" placeholder="First Name" required="" />-->
<!--    </td>-->

    <button (click)="clickAdd()">Add</button>
  </tr>
  <button type="button" class="btn btn-primary btn-block" *ngIf="isCollapsed"  (click)="toggleCollapse()">Create To Do List</button>
  <button type="button" class="btn btn-primary btn-block" *ngIf="!isCollapsed"  (click)="toggleCollapse()">Cancle To Do List</button>



  </tbody>
</table>


<input [disabled]="inputDisabled"   type="text">
<button *ngIf="!inputDisabled" (click)="inputDisabled = true">Edit</button>
<button *ngIf="inputDisabled" (click)="inputDisabled = false">Save</button>






